jmespath~=0.10.0
Django~=3.1.4
pip~=20.0.2
amqp~=5.0.2
vine~=5.0.0
attrs~=20.3.0
lxml~=4.6.2
html5lib~=1.0.1
cssselect~=1.1.0
pytz~=2020.5
colorama~=0.4.3
kombu~=5.0.2
billiard~=3.6.3.0
six~=1.14.0
w3lib~=1.22.0
wheel~=0.34.2
celery~=5.0.5
click~=7.1.2
cryptography~=3.3.1
sqlparse~=0.4.1
asgiref~=3.3.1
parsel~=1.6.0
pyasn1~=0.4.8
Twisted~=20.3.0
Scrapy~=2.4.1
itemadapter~=0.2.0
queuelib~=1.5.0
PyDispatcher~=2.0.5
itemloaders~=1.0.4
cffi~=1.14.4
Automat~=20.2.0
certifi~=2019.11.28
chardet~=3.0.4
incremental~=17.5.0
constantly~=15.1.0
setuptools~=44.0.0
hyperlink~=20.0.1
appdirs~=1.4.3
wcwidth~=0.2.5
webencodings~=0.5.1
idna~=2.8
urllib3~=1.25.8
pyparsing~=2.4.6
pycparser~=2.20
CacheControl~=0.12.6
requests~=2.22.0
msgpack~=0.6.2
djangorestframework~=3.12.2